* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease-in-out;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* All Section */

.all {
  overflow: scroll;
  height: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: lightblue;
}

::-webkit-scrollbar-track {
  margin-top: 80px;
}

/* Dark mode */

html.dark > body {
  background-color: #121212;
  /* background-color: #1A1D1E; */
  color: white;
}

html.dark > body > header > nav {
  z-index: 15;
  background: #121212;
  border-bottom: 1px solid #000;
}

html.dark > body > header > nav.open {
  background: #242424;
}

html.dark > body > header > nav > #nav-icon > span {
  background: #fff;
}

html.dark > body > header > nav > .nav-title {
  color: #fff;
}

html.dark > body > header > nav > .button-theme .change-theme {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' fill='%23fff' data-v-e8652fac=''%3E%3Cpath d='M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z'%3E%3C/path%3E%3C/svg%3E");
}

html.dark > body > header > nav > .button-theme .change-theme:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' fill='%23a3a3a3' data-v-e8652fac=''%3E%3Cpath d='M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z'%3E%3C/path%3E%3C/svg%3E");
}

html.dark > body > header > nav > ul > li > a {
  color: #fff;
  cursor: pointer;
}

html.dark > body > header > nav > ul > li > .active {
  color: #FDD441;
}

html.dark > body > header > nav > ul > .languages > .langues {
  background: rgb(100, 100, 100);
}

html.dark > body > .all > main > .links > .link {
  transition: all .3s ease-in-out;
  background-color: #242424;
}

html.dark > body > .all > main > .links > .link:hover {
  background-color: #777777;
  transform: scale(1.1);
}

html.dark > body > .all > main > .links > .link:hover > a > svg {
  fill: #ffffff;
  transition: fill .5s ease-in-out;
}

html.dark > body > .all > main > .links > .link > a > .svg-link {
  fill: white;
}


/* Light mode */

html.light > body {
  background-color: #FBFDFE;
  color: black;
}

html.light > body > header > nav {
  z-index: 15;
  background: #FBFDFE;
  border-bottom: 1px solid #b3b1b1;
  /* box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.279) */
}

html.light > body > header > nav.open {
  background: rgb(255, 255, 255);
}

html.light > body > header > nav > #nav-icon > span {
  background: #242629;
}

html.light > body > header > nav > .nav-title {
  color: #242629;
}

html.light > body > header > nav > .button-theme .change-theme {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' data-v-e8652fac='' fill='%23242629;'%3E%3Cpath d='M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z'%3E%3C/path%3E%3C/svg%3E");
}

html.light > body > header > nav > .button-theme .change-theme:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' data-v-e8652fac='' fill='%23a3a3a3'%3E%3Cpath d='M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z'%3E%3C/path%3E%3C/svg%3E");
}

html.light > body > header > nav > ul > li > a {
  color: #242629;
  cursor: pointer;
}

html.light > body > header > nav > ul > li > .active {
  color: #FDD441;
}

html.light > body > header > nav > ul > .languages > .langues {
  background: rgb(255, 255, 255);
}

html.light > body > .all > main > .links > .link {
  transition: all .3s ease-in-out;
  background-color: #d5d2d2;
}

html.light > body > .all > main > .links > .link:hover {
  background-color: #777777;
  transform: scale(1.1);
}

html.light > body > .all > main > .links > .link:hover > a > svg {
  fill: #ffffff;
  transition: fill .5s ease-in-out;
}

html.light > body > .all > main > .links > .link > a > .svg-link {
  fill: #000000;
}

/* Style nav */

nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  transition: .3s ease-in-out;
  height: 80px;
  width: 100%;
}

.nav-title {
  transition: .3s linear;
  position: inherit;
  margin: 20px 0px 0px 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  font-size: 25px;
  margin: 0 15px;
  padding: 0px 13px;
}

nav ul li a:hover {
  color: gray;
}

#nav-icon {
  bottom: 35px;
  left: 45px;
  float: left;
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: none;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #f0efef;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 15px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.button-theme {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 75px;
  height: 75px;
}

.change-theme {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.languages:hover > .langues {
  display: block;
}

.langues {
  position: absolute;
  display: none;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  height: 65px;
  width: 115px;
  top: 55px;
}

.langues.fr {
  right: 115px;
}

.langues.en {
  right: 130px;
}

.langues > span {
  cursor: pointer;
  font-size: 0.8em;
  left: 15px;
}

.langues > svg {
  top: 5px;
  left: 7px;
  height: 20px;
  width: 20px;
  position: absolute;
}

.langues > span {
  display: flex;
  line-height: 30px;
  margin-left: 30px;
}

.langues > .fr {
  line-height: 25px;
}

.languages > svg {
  position: relative;
  margin-left: 0px;
  height: 20px;
  fill: #bbb;
  width: 20px;
}

.languages > span {
  cursor: pointer;
}

.langues.en::before {
  position: absolute;
  top: 28px;
  left: 30px;
  content: "";
  width: 66px;
  height: 3px;
  background-color: rgb(123, 123, 199);
}

.langues.fr::before {
  position: absolute;
  top: 56px;
  left: 30px;
  content: "";
  width: 76px;
  height: 3px;
  background-color: rgb(123, 123, 199);
}

.langues > span::before {
  position: absolute;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.3s linear;
  background-color: rgb(123, 123, 199);
}

.langues > .fr::before {
  position: absolute;
  top: 56px;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.3s linear;
}

.langues > .en::before {
  position: absolute;
  top: 28px;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.3s linear;
}

.langues > .fr:hover::before {
  width: 76px;
}

.langues > .en:hover::before {
  width: 66px;
}

.langues.fr > svg {
  top: 35px;
}

/* Section */

.about__section, .skills__section {
  padding: 9rem 0 0;
}

.contact__section {
  padding: 9rem 0 8rem;
}

.section__title {
  margin-bottom: 3.5rem;
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Home section */

.home__section {
  padding: 15rem 0 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__section > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.home__section > h1 {
  margin-top: 15px;
  font-size: 3em;
}

.home__section > p {
  font-weight: bold;
  color: #A9A4A4;
}

/* Links */

.svg-link {
  display: flex;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.link {
  border-radius: 50%;
  cursor: pointer;
}

.link > a {
  display: block;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  width: calc(100% - 60%);
  max-width: 1000px;
}

/* Footer */

.footer {
  position: relative;
  display: block;
  background-color: #FDD441;
}

.footer__container {
  padding: 2rem 0 2rem;
}

.footer__title {
  text-align: center;
  margin-bottom: 2rem;
  color: #121212;
  font-size: 2rem;
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__list > li > a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  transition: padding .2s ease-in-out;
  background-color: #121212;
  color: #FDD441;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__social > a > svg {
  fill: #FDD441;
  height: 18px;
  width: 18px;
}

@media (max-width: 1095px) {
  html.dark > body > header > nav > ul > .languages > .langues,
  html.light > body > header > nav > ul > .languages > .langues {
    background: none;
  }

  /* Light mode */

  html.light > body > header > nav > ul {
    background: #fff;
    transition: background 0.4s, left 0.3s ease-in-out;
  }

  html.light > body > header > nav > ul > li {
    border-bottom: 1px solid #000;
  }

  html.light > body > header > nav > ul > li:hover {
    background: rgb(168, 168, 168);
  }

  html.light > body > header > nav > ul > li:hover > a {
    color: white;
  }

  html.light > body > header > nav > ul > .languages:hover > span {
    color: white;
  }

  html.light > body > header > nav > ul > .languages > span {
    color: #242629;
  }

  /* Dark mode */

  html.dark > body > header > nav > ul {
    background: #242424;
    transition: background 0.4s, left 0.3s ease-in-out;
  }

  html.dark > body > header > nav > ul > li {
    border-bottom: 1px solid #fff;
  }

  html.dark > body > header > nav > ul > li:hover {
    background: #626262;
  }

  html.dark > body > header > nav > ul > .languages > span {
    color: #fff;
  }

  .button-theme {
    height: 65px;
  }

  nav {
    z-index: 2;
    height: 64px;
  }

  .nav-title {
    position: inherit;
    margin: 13px 0px 0px 70px;
  }

  #nav-icon {
    bottom: 37px;
    width: 40px;
    display: block;
    height: 46px;
    z-index: 2;
  }

  #nav-icon span {
    display: block;
    height: 7px;
  }

  nav ul {
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 64px;
    left: -100%;
    text-align: left;
  }

  nav ul li {
    display: block;
    margin: 0 0;
    font-size: 20px;
    line-height: 50px;
    padding: 10px 0 10px;
    cursor: pointer;
  }

  nav ul li a {
    display: block;
    padding: 0 30px;
    width: 100%;
    height: 100%;
  }

  li.languages {
    padding: 10px 0px;
  }

  .languages > svg {
    position: relative;
    top: 3px;
    right: 30px;
    height: 20px;
    fill: #bbb;
    width: 20px;
  }

  .languages:hover > .langues {
    display: none;
  }

  .languages.open > .langues {
    display: block;
  }

  .langues.en {
    position: relative;
    top: unset;
    right: unset;
    height: unset;
    width: unset;
    border-radius: unset;
  }

  .langues.fr {
    position: relative;
    top: unset;
    right: unset;
    height: unset;
    width: unset;
    border-radius: unset;
  }

  .languages > span {
    padding: 0 30px;
  }

  .langues {
    box-shadow: unset;
    top: unset;
    left: 30px;
    position: relative;
    height: 60px;
    background: unset;
    width: 160px;
    border-radius: unset;
  }

  .langues > span {
    font-size: unset;
    line-height: 30px;
    margin-left: 20px;
  }

  .langues > .fr {
    line-height: 30px;
  }

  .langues > span:hover {
    color: #bbb;
  }

  .langues > svg {
    left: unset;
    top: 5px;
    height: 20px;
    width: 20px;
    position: absolute;
  }

  .langues.en::before {
    position: absolute;
    top: 30px;
    left: 20px;
    content: "";
    width: 66px;
    height: 3px;
    background-color: rgb(123, 123, 199);
  }

  .langues.fr::before {
    position: absolute;
    top: 60px;
    left: 20px;
    content: "";
    width: 76px;
    height: 3px;
    background-color: rgb(123, 123, 199);
  }

  .langues > span::before {
    position: absolute;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.3s linear;
    background-color: rgb(123, 123, 199);
  }

  .langues > .fr::before {
    position: absolute;
    top: 60px;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.3s linear;
  }

  .langues > .en::before {
    position: absolute;
    top: 30px;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.3s linear;
  }

  .langues > .fr:hover::before {
    width: 76px;
  }

  .langues > .en:hover::before {
    width: 66px;
  }

  .langues.fr > svg {
    top: 37px;
  }

  #nav-icon.open ~ ul {
    left: 0;
  }

  .overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }

  .overlay.open {
    transition: all .7s ease-in-out;
    opacity: 0.5;
    visibility: visible;
  }

  .links {
    width: 80%;
  }

  .active {
    background: none;
    padding: 0 30px;
    border-radius: unset;
  }

  /* Footer responsive */

  .footer__social-link {
    padding: 0.30rem;
    border-radius: 0.30rem;
  }

  .footer__social > a > svg {
    height: 16px;
    width: 16px;
  }
}

@media (max-height: 950px) {
  .links {
    margin-top: 17rem;
  }
}

@media (max-height: 900px) {
  .links {
    margin-top: 12rem;
  }
}

@media (max-height: 800px) {
  .links {
    margin-top: 8rem;
  }

  .home__section {
    padding: 12rem 0 0;
  }
}

@media (max-height: 700px) {
  .links {
    margin-top: 4em;
  }

  .home__section {
    padding: 7rem 0 0;
  }
}

@media (min-width: 992px) {
  .container {
      margin-left: auto;
      margin-right: auto;
  }
}