* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease-in-out;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Dark mode */

html.dark > body {
  background-color: #494848;
  color: white;
}

html.dark > body > header > nav {
  background: #242424;
  border-bottom: 4px solid #fff;
}

html.dark > body > header > nav > #nav-icon > span {
  background: #fff;
}

html.dark > body > header > nav > .nav-title {
  color: #fff;
}

html.dark > body > header > nav > .button-theme .change-theme {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' fill='%23a3a3a3' data-v-e8652fac=''%3E%3Cpath d='M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z'%3E%3C/path%3E%3C/svg%3E");
}

html.dark > body > header > nav > ul > li > a {
  color: #fff;
}

html.dark > body > main > .content > .card {
  background-color: #242424;
}

/* Light mode */

html.light > body {
  background-color: #bbb;
  color: black;
}

html.light > body > header > nav {
  background: #fff;
  border-bottom: 4px solid #b3b1b1a8;
}

html.light > body > header > nav > #nav-icon > span {
  background: #242629;
}

html.light > body > header > nav > .nav-title {
  color: #242629;
}

html.light > body > header > nav > .button-theme .change-theme {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 512 512' data-v-e8652fac='' fill='%23a3a3a3'%3E%3Cpath d='M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z'%3E%3C/path%3E%3C/svg%3E");
}

html.light > body > header > nav > ul > li > a {
  color: #242629;
}

html.light > body > main > .content > .card {
  background-color: #fff;
}

/* Style nav */

nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  transition: background 0.3s ease-in-out;
  height: 80px;
  width: 100%;
}

.nav-title {
  position: absolute;
  margin: 11px 35px;
  cursor: pointer;

  font-weight: bold;
  font-size: 30px;
  padding: 7px 13px;
}

nav ul {
  float: right;
  margin-right: 80px;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  font-size: 25px;
  margin: 0 5px;
  padding: 0px 13px;
}

nav ul li a:hover {
  color: gray;
}

#nav-icon {
  bottom: 35px;
  left: 31px;
  float: left;
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: none;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #f0efef;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 15px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.button-theme {
  padding: 9px;
  right: 21px;
  top: 13px;
  border-radius: 5px;
  position: absolute;
}

.button-theme:hover {
  background-color: #bbb;
}

.change-theme {
  padding: 15px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.languages:hover > .langues {
  display: block;
}

.langues {
  position: absolute;
  top: 55px;
  display: none;
  height: 65px;
  width: 120px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
}

.langues > span {
  cursor: pointer;
  font-size: 0.8em;
  left: 15px;
}

.langues > svg {
  top: 5px;
  left: 7px;
  height: 20px;
  width: 20px;
  position: absolute;
}

.langues > span {
  display: flex;
  line-height: 30px;
  margin-left: 30px;
}

.langues > .fr {
  line-height: 25px;
}

.languages > svg {
  position: absolute;
  top: 27px;
  right: 185px;
  height: 20px;
  fill: #bbb;
  width: 20px;
}

.langues.fr {
  position: absolute;
  right: 185px;
  display: none;
  height: 65px;
  width: 115px;
  border-radius: 10px;
}

.langues.en::before {
  position: absolute;
  top: 30px;
  left: 30px;
  content: "";
  width: 70px;
  height: 3px;
  background-color: rgb(123, 123, 199);
}

.langues.fr::before {
  position: absolute;
  top: 58px;
  left: 30px;
  content: "";
  width: 78px;
  height: 3px;
  background-color: rgb(123, 123, 199);
}

.langues > span::before {
  position: absolute;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.5s linear;
  background-color: rgb(123, 123, 199);
}

.langues > .fr::before {
  position: absolute;
  top: 58px;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.3s linear;
}

.langues > .en::before {
  position: absolute;
  top: 30px;
  left: 30px;
  content: "";
  width: 0px;
  height: 3px;
  transition: width 0.3s linear;
}

.langues > .fr:hover::before {
  width: 78px;
}

.langues > .en:hover::before {
  width: 70px;
}

.langues.fr > svg {
  top: 35px;
}

/* Style main */

.page {
  z-index: -1;
  position: relative;
  padding: 10rem 10% 0;
}

/* Card */

.card {
  border-radius: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 90%;
  max-width: 1500px;
}

.card > .top {
  display: flex;
  justify-content: center;
  transform: translateY(-30%);
}

.card > .top > img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  transition: 0.3s;
}

.card > .top > img:hover {
  transform: translateY(-10%);
}

.card > .bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 1000px;
  transform: translateY(-20%);
}

.card > .bottom > .tag-name {
  margin-bottom: 0.25rem;
}

.card > .bottom > .location {
  color: #8a8a8a;
  margin-bottom: 1.5rem;
}

.description {
  z-index: -1;
  text-align: center;
  padding: 0 15%;
  font-size: 1.2em;
  font-weight: normal;
}

@media (max-width: 800px) {
  /* Light mode */

  html.light > body > header > nav > ul {
    background: #fff;
    transition: background 0.3s ease-in-out;
  }

  html.light > body > header > nav > ul > li {
    border-bottom: 1px solid #000;
  }

  html.light > body > header > nav > ul > li:hover {
    background: rgb(168, 168, 168);
  }

  html.light > body > header > nav > ul > li:hover > a {
    color: white;
  }

  html.light > body > header > nav > ul > .languages:hover > span {
    color: white;
  }

  html.light > body > header > nav > ul > .languages > span {
    color: #242629;
  }

  /* Dark mode */

  html.dark > body > header > nav > ul {
    background: #242424;
    transition: background 0.4s, left 0.3s ease-in-out;
  }

  html.dark > body > header > nav > ul > li {
    border-bottom: 1px solid #fff;
  }

  html.dark > body > header > nav > ul > li:hover {
    background: #626262;
  }

  html.dark > body > header > nav > ul > .languages > span {
    color: #fff;
  }

  .button-theme {
    top: 7px;
  }

  .nav-title {
    margin: 5px 40px;
  }

  nav {
    z-index: 2;
    height: 64px;
  }

  #nav-icon {
    bottom: 37px;
    width: 40px;
    display: block;
    height: 46px;
    z-index: 2;
  }

  #nav-icon span {
    display: block;
    height: 7px;
  }

  nav ul {
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 64px;
    left: -100%;
    text-align: left;
  }
  nav ul li {
    display: block;
    margin: 0 0;
    font-size: 20px;
    line-height: 50px;
    padding: 10px 0 10px;
    cursor: pointer;
  }

  nav ul li a {
    padding: 0 30px;
  }

  .languages {
    padding: 10px 0px;
  }

  .languages > svg {
    position: relative;
    top: 3px;
    right: 30px;
    height: 20px;
    fill: #bbb;
    width: 20px;
  }

  .languages:hover > .langues {
    display: none;
  }

  .languages.open > .langues {
    display: block;
  }

  .langues.fr {
    position: relative;
    top: unset;
    right: unset;
    height: unset;
    width: unset;
    border-radius: unset;
  }

  .languages > span {
    padding: 0 30px;
  }

  .langues {
    top: unset;
    margin-left: 30px;
    position: relative;
    height: 60px;
    background: unset;
    width: 160px;
    border-radius: unset;
  }

  .langues > span {
    font-size: unset;
    line-height: 30px;
    margin-left: 20px;
  }

  .langues > .fr {
    line-height: 30px;
  }

  .langues > span:hover {
    color: #bbb;
  }

  .langues > svg {
    left: unset;
    top: 5px;
    height: 20px;
    width: 20px;
    position: absolute;
  }

  .langues.en::before {
    position: absolute;
    top: 30px;
    left: 20px;
    content: "";
    width: 70px;
    height: 3px;
    background-color: rgb(123, 123, 199);
  }

  .langues.fr::before {
    position: absolute;
    top: 60px;
    left: 20px;
    content: "";
    width: 80px;
    height: 3px;
    background-color: rgb(123, 123, 199);
  }

  .langues > span::before {
    position: absolute;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.5s linear;
    background-color: rgb(123, 123, 199);
  }

  .langues > .fr::before {
    position: absolute;
    top: 60px;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.5s linear;
  }

  .langues > .en::before {
    position: absolute;
    top: 30px;
    left: 20px;
    content: "";
    width: 0px;
    height: 3px;
    transition: width 0.5s linear;
  }

  .langues > .fr:hover::before {
    width: 80px;
  }

  .langues > .en:hover::before {
    width: 70px;
  }

  .langues.fr > svg {
    top: 37px;
  }

  #nav-icon.open ~ ul {
    left: 0;
  }

  .overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }

  .overlay.open {
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
    visibility: visible;
  }
}
